$bgDefault      : #d4ca6e;
$bgHighlight    : #A79F55;
$colDefault     : #4e4a36;
$colHighlight   : #fcf8e3;

body {
    background: $colHighlight;
}

.caption {
    text-align: center;
    margin-top: 3px;
    background-color: $colHighlight;
    padding: 5px;
}

.footer {
    margin-top: 3px;
}

.images {
    max-width: 150px;
    height: auto;
}

.like {

    position: relative;
    left: 20px;
}

.del {
    position: relative;
    left: 37px;
}

.image-element-class {
    padding: 3px;
    margin: 5px;
    background-color: $bgDefault;
}

#twitter-icon {
    width: 50px;
    height: 50px;
}

#about-body {
    font-size: 21px;
}

#about-footer {
    margin-top: 10px;
    font-size: 17px;
}

.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
  .navbar-nav > li > .dropdown-menu {
    background-color: $bgDefault;
  }
  .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}
