// body {
//     background: #fff9e6;
// }

// a {
//     // color: #1b4264;
//     color: #0000ff;
// }
// .jumbotron {
//     // background: #e6e6ff;
//     background: #99ccff;
//     // background: #cceeff;
// }
.caption {
    text-align: center;
}

.images {
    max-width: 150px;
    height: auto;
    // padding: 3px;
}

.like {
    float: right;
}

.del {
    float: right;
}


.image-element-class {
    padding: 3px;
    margin: 5px;
    background-color: lightcyan
    // border-radius: 3%;
    // border-style: solid;
    // border-bottom: thick double #ff0000;
}

#twitter-icon {
    width: 50px;
    height: 50px;
    // padding: 5px;
    // vertical-align: middle;
}

#about-body {
    font-size: 21px;
    
}

#about-footer {
    margin-top: 10px;
    font-size: 17px;
}